.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out/
target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.DS_Store